*:focus {outline:none}

body {
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    background-color: white;
    width: 1.5vw;
    height: 1.5vw;
    border-width: .1px;
}

tr, td {
    padding: 0px;
}

.unmarked {
    background-color: white;
}

#form {
    margin: 15px 0px;
}

.formSpan {
    font-size: 1vw;
    margin: 10px 0px 10px 20px;
}

.formBttn {
    width: 1vw;
    height: 1vw;
    /* font-weight: bold; */
}